.card {
  display: flex;
  flex-direction: column;
  width: 250px;
  border-radius: 5%;
  border: solid;
  justify-content: center;
  background-color: black;
  h2 {
    display: flex;
    justify-content: center;
    font-size: large;
    font-weight: 600;
    height: 54px;
    align-items: center;
    color: rgb(195, 166, 95);
  }
  .card-img {
    width: 250px;
    height: 350px;
  }
  p {
    color: rgb(195, 166, 95);
  }
}

.btn-container{
    display: flex;
    justify-content: center;
    .btn-detail {
        display: flex;
        justify-content: center;
        background-color: transparent;
        width: 120px;
        color: rgb(195, 166, 95) ;
        border:double;
      }
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  background-color: gray;
}
