.header-container {
  display: flex;
  background-color: rgb(37, 37, 37);
  width: 100%;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  max-height: 120px;
  .logo {
    width: 160px;
    height: 120px;
  }
}

.header-links {
  display: flex;
  align-items: center;
  gap: 100px;
  font-weight: 800;
  .link {
  font-size: 30px;
  text-decoration: none;
  color: rgb(195, 166, 95);
}
}

.cart-counter {
justify-content: center;
align-items: center;
padding-top: 100px;
}


