.footer-container {
  background-color: rgb(37, 37, 37);
  display: grid;
  grid-template-rows: 3fr 1fr;
  border-top: 3px solid;
  border-color: black;
  .footer-links {
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 9px;
    .footer-info, .footer-enlaces {
        display: flex;
        flex-direction: column;
        margin: 10px;
      p, a {
        color: rgb(195, 166, 95);
        margin-bottom: 0;
        text-decoration:none;
      }
    }
  }
  .footer-copyright {
    border-top: 1px solid;
    border-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color: white;
    p {
      margin: 2px;
    }
  }
}
